/* Fondo general para todo el contenedor */
body {
  background-color: #e6f7ff; /* Color de fondo más llamativo */
}

/* Contenedor principal que envuelve la Pokedex y la tabla de Pokémon */
.container {
  display: flex;
  align-items: flex-start;
  background-color: #c6ff8e; /* Fondo alrededor de la pokedex y equipo seleccionado */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

/* Estilo para la tabla de selección de equipo */
.team-table {
  margin-right: 20px; /* Espacio a la derecha de la tabla */
  background-color: #74b9ff; /* Color de fondo llamativo */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  color: white;
}

.team-table h4 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(11, 5, 5);
}

/* Grid layout para mostrar los Pokémon seleccionados en pares */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-gap: 20px; /* Espacio entre los Pokémon */
}

.team-member {
  width: 75px;
  height: 75px;
  object-fit: cover;
  background-color: #f39c12;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.pokedex {
  width: 800px;
  height: 450px;
  border-radius: 30px 8px 8px 30px;
  display: flex;
  flex-direction: row;
  background-color: #ff7675; /* Fondo de la Pokedex */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para la Pokedex */
}

.pokedex-red {
  background-color: #ff7675;
  border: 6px solid #d63031;
}

.pokedex-yellow {
  background-color: #fdcb6e;
  border: 6px solid #e17055;
}

.pokedex-blue {
  background-color: #74b9ff;
  border: 6px solid #0984e3;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left-panel {
  width: 60%;
  height: 100%;
  border-right: 6px solid #2d3436;
  padding: 10px 20px;
  justify-content: space-evenly;
}

.screen {
  background-color: #fff;
  border-radius: 8%;
}

.pokedex-red .screen,
.pokedex-red .button {
  border: 4px solid #c0392b;
}

.pokedex-yellow .screen,
.pokedex-yellow .button {
  border: 4px solid #e17055;
}

.pokedex-blue .screen,
.pokedex-blue .button {
  border: 4px solid #0984e3;
}

/* Ajustamos el tamaño de la pantalla principal y de la imagen */
.left-panel .main-screen {
  width: 260px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-screen img {
  width: 180px;
  height: 180px;
}

.sprite {
  object-fit: cover;
  image-rendering: pixelated;
}

.right-panel {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-panel .controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.right-panel .controls button {
  width: 50px;
  height: 40px;
  font-size: 1.2em;
  background-color: #3498db;
  color: rgb(6, 3, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.right-panel .controls button:hover {
  background-color: #2980b9;
}

.right-panel .leds {
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;
  margin-top: -30px;
}

.right-panel .second-screen {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.obfuscated {
  filter: blur(5px);
}

.ready {
  filter: blur(0);
}

.ready--quick {
  transition: filter 200ms linear 200ms;
}

.ready--regular {
  transition: filter 300ms linear 400ms;
}

.ready--slow {
  transition: filter 500ms linear 800ms;
}

/* Estilo para mostrar las debilidades */
.weaknesses-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.weaknesses-label {
  font-weight: bold;
  margin-right: 10px;
  min-width: 100px;
}

.pokemon-weaknesses {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  max-width: 100%;
}

.pokemon-weaknesses span {
  background-color: #f8d7da;
  padding: 3px 8px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-style: italic;
  font-weight: bolder;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.name {
  font-size: larger;
  font-weight: 800;
  text-transform: uppercase;
}

.pokemon-types {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.pokemon-types span {
  background-color: #eee;
  padding: 3px;
  border-radius: 5px;
}

/* Estilo para el botón de agregar al equipo */
.pokedex button {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #3498db;
  color: rgb(12, 7, 7);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.pokedex button:hover {
  background-color: #2980b9;
}

/* Mensaje de equipo completo */
.team-full {
  margin-top: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}
